[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
flask = "==3.0.0"
gunicorn = "==21.2.0"
psycopg = "==3.1.17"
psycopg-binary = "==3.1.17"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11.0"
